.banner {
    color: var(--first-color);
    background: var(--second-color);
    text-align: center;
    padding: 5em 2em;
    display: block;
}

.banner__title {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.banner__text {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 0.5em;
}

.banner__image {
    width: 70%;
    justify-content: center;
}

@media screen and (min-width:1024px) {
    .banner__title {
        font-size: 64px;
    }

    
}

@media screen and (min-width:1728px) {
    .banner__title {
        font-size: 72px;
    }

    
    .banner__image {
        width: 50%;
        justify-content: center;
    }
}
